.env 

/__pycache__/

alembic/__pycache__/ 
alembic/versions/__pycache__/


api/__pycache__/
api/auth/__pycache__/

reports/__pycache__/

db/__pycache__/

queries/__pycache__/

schemas/__pycache__/

utils/__pycache__/


